### UPDATING VARIABLES/VARIABLE REASSIGNMENT

In [ ]:
my_num1 = 10
print("my_num1 right now is:", my_num1)

my_num1 = my_num1 + 10
print("my_num after reassignment is:", my_num1)

In [ ]:
#another way to update variable:

my_num1 = 10
print("my_num1 right now is:", my_num1)

my_num1 += 10
print("my_num after reassignment is:", my_num1)

In [ ]:
my_num2 = 8
my_num2 -= 2
print(my_num2)

In [ ]:
my_num3 = 8
my_num3 /= 2
print(my_num3)

In [ ]:
my_num4 = 8
my_num4 **= 2 # ** is power/exponentiation
print(my_num4)

### LIST AND STRING INDEXING

In [ ]:
my_list = ["python", 3.14, False, 1054, "class", True, [1,2,3]]

len(my_list) #gives you length of the object i.e. the number of characters in the string or number of items in a list

In [27]:
my_list = ["python", 3.14, False, 1054, "class", True, [1,2,3]]


print(my_list[0]) #index of the first element. python has zero based indexing
print(my_list[3]) #gives item with index 3 i.e. 4th item
print(my_list[-1]) #reverse indexing starts with -1, NOT -0
print(my_list[-3]) #reverse indexing starts with -1, NOT -0

python
1054
[1, 2, 3]
class

In [28]:
#if the item you index in the main object is also indexable, you can further index it like so:

my_list = ["python", 3.14, False, 1054, "class", True, [1,2,3]]


print(my_list[0][-1])
print(my_list[4][-2])
print(my_list[-1][1])

n
s
2

In [29]:
#you can find out the type of a specific element inside a list

print(type(my_list[2]))
print(type(my_list[-3]))

<class 'bool'>
<class 'str'>

In [30]:
#you can also index slices
#start:stop:step
#start element is included in the slice but the stop index is NOT

my_list = ["python", 3.14, False, 1054, "class", True, [1,2,3]]


print(my_list[1])
print(my_list[-1])
print(my_list[1:4]) #you will get index 1, 2 and 3 but NOT 4
print(my_list[1:6:2]) #start is 1, stop is 6 and step is 2
print(my_list[::2])

3.14
[1, 2, 3]
[3.14, False, 1054]
[3.14, 1054, True]
['python', False, 'class', [1, 2, 3]]

In [31]:
my_str = "abcdefghijklmnopqrst"


print(my_str[1:9])
print(my_str[:10])
print(my_str[3:])
print(my_str[::3])
print(my_str[16:0:-1])
print(my_str[3:15:2])
print(my_str[-10:-5:2])
print(my_str[-15:0:-2])

bcdefghi
abcdefghij
defghijklmnopqrst
adgjmps
qponmlkjihgfedcb
dfhjln
kmo
fdb

### LISTS

-Lists are mutable

-Defined by square brackets [ ]

LIST METHODS
(lists methods can DIRECTLY alter your list without having to reassign the result back to the list)

In [8]:
fruits = ["mango", "apple", "banana"]
print(fruits)

fruits.append("watermelon")
print(fruits)

#note that another watermelon will be appended to fruits every time you run this cell because the list isn't being defined in this cell

['mango', 'apple', 'banana']
['mango', 'apple', 'banana', 'watermelon']

from this point onwards, i will be redefining fruits in every cell so that the lists gets reset every time you apply a new method. I am doing this so you can see the effects of each method on the original list separately. if I don't redefine, and just apply the methods in every cell, a lot of changes will happen to the original list together.

In [9]:
#you can DIRECTLY alter the elements of a list by using indexing like so:

fruits = ["mango", "apple", "banana"]
print(fruits)

fruits[1] = "watermelon"
fruits[2] = "kiwi"
print(fruits)

['mango', 'apple', 'banana']
['mango', 'watermelon', 'kiwi']

In [11]:
fruits = ["mango", "apple", "banana"]
print(fruits)


fruits.insert(2, "watermelon") #argument 1 is index and argument 2 is the element you wish to insert at that index. Again, this method is DIRECTLY changing the list without the need for reassignment
print(fruits)

['mango', 'apple', 'banana']
['mango', 'apple', 'watermelon', 'banana']

In [12]:
fruits = ["mango", "apple", "banana"]
print(fruits)

fruits.append("watermelon") #adds item to end of list. can only add one item at a time
print(fruits)

['mango', 'apple', 'banana']
['mango', 'apple', 'banana', 'watermelon']

In [13]:
fruits = ["mango", "apple", "banana"]
print(fruits)

fruits.append(["watermelon", "orange"]) #can only add one item at a time, so it appended it as a list to the end
print(fruits)

['mango', 'apple', 'banana']
['mango', 'apple', 'banana', ['watermelon', 'orange']]

In [14]:
#this can add multiple items, but multiple items need to be given in a SINGLE argument in the form of a list or tuple
fruits = ["mango", "apple", "banana"]
print(fruits)

fruits.extend(["watermelon", "orange"])
print(fruits)

['mango', 'apple', 'banana']
['mango', 'apple', 'banana', 'watermelon', 'orange']

In [15]:
fruits = ["mango", "apple", "banana"]
print(fruits)

fruits.remove("mango") #removes the element given as argument. throws error if element not in list
print(fruits)

['mango', 'apple', 'banana']
['apple', 'banana']

In [17]:
#pop method takes an index as argument and removes element from that index. 
#ALSO returns that element back to you, that you can store in a new variable and use like I am storing it in removed_element below
#if you run it without storing the return, it will still remove the element, you just won't be able to use the removed element

fruits = ["mango", "apple", "banana"]
print(fruits)

removed_element = fruits.pop(1) 
print(fruits)
print(removed_element)

['mango', 'apple', 'banana']
['mango', 'banana']
apple

LIST CONCATENATION

In [ ]:
#lists can also be concatenated as follows using the + operator:

new_list= [1,2,3] + ["python"]

print(new_list)

### STRINGS 

- strings are immutable
- defined in quotes

METHODS

there are many more string methods outlined in your manual. please try them all out and observe their output

In [ ]:
#you CANNOT directly alter the elements of a STRING by using indexing like so:


my_str = "abcdefghijklmnopqrstuvwxyz"
my_str[3] = "8"

In [ ]:
#this method returns a new str that needs to be stored back into my_str or a new variable
#applying this method like below will NOT change original my_str, without storing it back into the original my_str

my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.replace("c", "8") 

print(my_str)

In [ ]:
#THIS will make changes to the original my_str, due to reassignment 

my_str = my_str.replace("c", "8") 
print(my_str)

In [ ]:
#this method returns index of the first instance of specified element. throws an error if element not found

my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.index("8")

In [ ]:
#this method returns index of the first instance of specified element. returns -1 if element not found

my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.find("8")

In [ ]:
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.upper() 

#this method returns a NEW string with all characters uppercase. 
#again, applying this method like this does NOT change the original string. The changed string that is returned is a COPY

In [ ]:
my_str = "abcdefghijklmnopqrstuvwxyz"

my_str.isnumeric() #checks if all char in string are numeric

In [ ]:
my_str = "abcdefghijklmnopqrstuvwxyz"

my_str.isalpha() #checks if all char in string are alphabets

STRING CONCATENATION

In [3]:
#you can concatenate strings with a plus sign

"python" + "class"

'pythonclass'

In [21]:
#using concatenation to make a new string from my_str with first letter capitalized. 

my_str = "Python Class"
print(my_str)

my_str = my_str[0 : 6] + " Basics " + my_str[7 : 12]
print(my_str)

Python Class
Python Basics Class

DELETING A STRING

del is NOT just for strings. It works with other objects as well like lists and dictionaries etc for deletion.

In [ ]:
del new_str #deletes an object from memory. del works with all objects, not just strings

In [ ]:
print(new_str) #no longer found because deleted in the cell above

STRING SINGLE, DOUBLE AND TRIPLE QUOTES

In [ ]:
my_str1 = "my name is Ann"
my_str2 = 'my "name" is Ann' # if your string has quotation marks inside it 
my_str3 = '''my name is Ann
and I am in this python class''' #if your string is multiline i.e. has a newline character, you need to define it with triple quotes


print(my_str1) #the "\n" here is to just add a new line so the results are separated by a line
print(my_str2)
print(my_str3)

### TUPLES

-tuples are immutable

-defined by round brackets ()

-indexing of tuples works the same way as lists and strings

In [ ]:
#to define a tuple with only one element, you need to add a comma after the item, else python won't recognize it as a tuple

my_tup = ("orange",) 
print("type of my_tup:", type(my_tup))

my_tup2 = ("orange")
print("type of my_tup2:", type(my_tup2))

In [ ]:
my_tup = (1, False, 2000, 3.14, True ,4, 5, "python", [1,2,3])

my_tup[5] = "class" #operation not possible due to immutability

TUPLE METHODS

In [ ]:
my_tup.count("python")

In [ ]:
my_tup.index("python")

TUPLE CONCATENATION

Tuple concatenation DOES work with the + operator (i wrongly said in class that it doesn't), but if any of the tuples you are concatenating have one element, it needs to be defined with a comma at the end, else it won't be read as a tuple and you will get an error (i.e. it cannot concatenate different datatypes)

In [ ]:
#both of these are being read as tuples now so we get a concatenated tuple back

("python",) + ("class",)

In [ ]:
#without comma, single element tuples are not read as tuples but as the datatype inside the round brackets

("python") + ("class")

In [22]:
#if we want to add "class" in this tuple through concatenation

my_tup = (1, False, 2000, 3.14, True ,4, 5, "python", [1,2,3])

my_tup_new = my_tup[:8] + ("class",) + my_tup[8:]

print(my_tup_new)

(1, False, 2000, 3.14, True, 4, 5, 'python', 'class', [1, 2, 3])

### DICTIONARIES 

-Dictionaries are mutable

-Contain key:value pairs.

-Defined by curly brackets {}

-Cannot contain duplicated keys


-Tuples can be used as dictionary keys. 
Other objects that are valid keys:
1) int
2) string
3) float
4) boolean

In [ ]:
#if you add duplicate keys, it will be overwritten by the last added value against that key

grades = {"Hamza":95, "Hassan":50, "Abeer": 89, "Hassan": 85}

print(grades)

In [23]:
#you use the key to call on an element inside the dictionary

grades = {"Hamza":95, "Hassan":50, "Abeer": 89}

print(grades["Hamza"])
print(grades["Hassan"])
print(grades["Abeer"])

95
50
89

In [ ]:
grades2 = {"Hamza": [80, 85, 70], "Hassan": [80, 90, 95], "Abeer":[85, 80, 75]}

print(grades2["Hamza"][0])
print(grades2["Azeem"][2])

In [ ]:
#tuples as keys

coordinates = {(2,3,4) : "Lahore", (5,6,7): "Karachi"}

print(coordinates[(2,3,4)])

In [ ]:
#nested dictionary

grades3 = {"Hamza": {"english":80, "python":85}, "Hassan": [80, 90, 95], "Abeer":[85, 80, 75]}

print(grades3["Hamza"]["english"])


#grades3["Hamza"] will look for the key Hamza in grades3 and return a value, which is a whole dictionary itself
#grades3["Hamza"]["english"] will then look for the "english" key in the nested dictionary and return its value

In [ ]:
#since dictionaries are MUTABLE, you can directly change a key like this

roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer"}

roll_no[300] = "Abdullah"

print(roll_no)

In [ ]:
#if you assign a value to a key that does not exist in the dictionary, it is AUTOMATICALLY ADDED TO THE DICTIONARY
roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer"}

roll_no[400] = "Ahsan"

print(roll_no)

In [ ]:
#Incrementing a dictionary key: way 1

grades = {"Hamza":95, "Hassan":50, "Abeer": 89}
grades["Hamza"] = grades["Hamza"] + 5

print(grades["Hamza"])

In [ ]:
#Incrementing a dictionary key: way 2

grades = {"Hamza":95, "Hassan":50, "Abeer": 89}
grades["Hamza"] += 5

print(grades["Hamza"])

In [ ]:
grades2 = {"Hamza": [80, 85, 70], "Hassan": [80, 90, 95], "Abeer":[85, 80, 75]}

#now grades2["Hamza"] is returning a list 
#so if you need an element from the list, you need to add list indexing after fetching the key value
grades2["Hassan"][1] += 5 

print(grades2)

In [ ]:
#an operation like this will result in an error however
# if the key doesn't already exist, you cannot update it

roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer", 400: "Ahsan"}

roll_no[600] += 5

In [24]:
grades2 = {"Hamza": [80, 85, 70], "Hassan": [80, 90, 95], "Abeer":[85, 80, 75]}

print(grades2.keys())
print(grades2.values())

dict_keys(['Hamza', 'Hassan', 'Abeer'])
dict_values([[80, 85, 70], [80, 90, 95], [85, 80, 75]])

### SETS

- defined with curly brackets <br>
- have no index to access items <br>
- items are returned ordered <br>
- cannot have duplicates <br>
- you can add or remove items (unlike tuples and strings)

In [ ]:
a = {6,2,5,4,1,3}
b = {5,6,7,8,4,10,21,12}

print(a.intersection(b))
print(a.union(b))

In [ ]:
a = {6,2,5,4,1,3}
a.add(10)
a.add(-3)

print(a)

In [26]:
#find out the no of unique elements in the list

my_list = [1,2,4,5,4,3,6,1,3,2]

len(set(my_list))

6

### F-STRINGS

In [ ]:
name = "Mahwish"
cls = "python"
grade = 95


#printing without f-string
print(name, "got", grade, "marks in the quiz")


#printing with f-string
print(f"{name} got {grade} marks in the quiz for {cls} class ")