#### FOR LOOP EXAMPLE

In [ ]:
fruits = ["mango", "apple", "banana", "watermelon"]

for num in range(len(fruits)):
    
    fruits[num] = fruits[num].capitalize()
    
print(fruits)

## FUNCTIONS

### DEFINING A SIMPLE SUM FUNCTION

In [ ]:
#A simple function to sum up 2 numbers

def my_sum(num1, num2):
    
    total = num1 + num2
    
    return total 
    
    
print(my_sum(10, 35))

### POSITIONAL ARGUMENTS

In [ ]:
def my_diff(num1, num2):
    
    total = num1 - num2
    
    return total 
    
 
print(my_diff(35, 10))
print(my_diff(10, 35))  #positional order of arguments matters
print(my_diff(num2 = 10, num1 = 35)) #here positional order doesn't matter because you specifically set the value of each argument

In [ ]:
def name(firstname, lastname):
    
    print(f"Hello! My name is {firstname} {lastname}")
    
name("Babar", "Azam")
name("Azam", "Babar")
name(lastname = "Azam", firstname = "Babar")

### DIFFERENCE BETWEEN PRINT AND RETURN:

##### Print
1) Print inside a function will simply print a result to the output. 

2) You don't need to use print() with your function while calling it if its output is a print object 

3) With print, you do not get back an object you can make use of for e.g. do string/arithmetic/list etc operations on it

##### Return
1) return will RETURN an object back to you such as an str, int, float, dict, list etc

2) You use a print statement to print the results of a function that uses return

3) After calling a function, this return object can be stored inside a variable and used

### DEFAULT ARGUMENTS

In [ ]:
def my_sum(num1=0, num2=0, num3=0):
    
    total = num1 + num2 + num3
    
    return total 
 
print(my_sum(4,5,8))
print(my_sum(-300,9,25))
print(my_sum()) #this works because we defined default values

### THREE STRATEGIES FOR WRITING my_sum():

1) Passing two arguments to our my_sum1 function in our definition

2) Passing multiple numbers to our sum function via ONE argument (a list or tuple)

3) Using *ARGS to pass multiple arguments to a function:

#### Passing two arguments to our my_sum1 function in our definition

In [ ]:
def my_sum(num1, num2):
    
    return num1 + num2
    

print(my_sum(10, 40))  
print(my_sum(5, 8))
print(my_sum(5, 8, 9)) #first two lines print fine but this one throws error with 3 arguments

#### Passing multiple numbers to our sum function via ONE argument (a list in this case)

In [ ]:
def my_sum2(my_list):
    
    total = 0
    
    for i in my_list:
        
        total += i
        
    return total

In [ ]:
lst = [1,2,3,4,5]


print(my_sum2(lst))
print(my_sum2([30,10,24]))

In [ ]:
#throws error because the code inside the function is designed for a list, not an int. 
#the for loop inside the function will throw an error because it gets an int instead of an iterable

print(my_sum2(30))

In [ ]:
#BUT NOTE that this function will work even for a tuple instead of a list 
#this is because the for loop inside the function will run on a tuple too

print(my_sum2((30,10,24)))

#### Using *ARGS to pass multiple arguments to a function:

In [ ]:
def my_sum3(*args):
    
    total = 0
    
    for i in args:
        
        total += i
        
    return total

In [ ]:
print(my_sum3(4,5,6,7,8,9,0))
print(my_sum3(4,8,9))
print(my_sum3(4,5,6,7,8))
print(my_sum3(4))
print(my_sum3())

### **KWARGS

KWARGS are like ARGS but for keyword arguments

In [ ]:
def force(**kwargs):
    
    force = kwargs['mass'] * kwargs['acceleration']
    
    return force

In [ ]:
force(mass = 40, acceleration = 10)

### MAP

- maps a function to each item of an iterable

In [ ]:
list1 = [[1,2,3], [4,5,6], [7,8,9]]

list(map(sum, list1)) #we put the map object inside the list function to see what is contained inside it

In [ ]:
tup = ("a", "b", "c")

list(map(str.upper, tup))

list(map(str.upper, tup)) #with dot methods, you need to add the class name first like list.append(), str.upper() etc

### LAMBDA

- lambda functions are short, one-line, anonymous functions

In [ ]:
# def function vs lambda function

#using def

def cube(y):
    
    return y**3

In [ ]:
#using lambda

cube = lambda y: y**3

print(cube(2))
print(cube(3))
print(cube(4))

In [ ]:
#here i am directly applying a lamda function to a list using map, without storing the lambda function in a variable
#the function simply lasts for the duration of this one operation
#this is how lambda functions can be used anonymously without having to define a whole function using def

lst = [1,2,3,4]

list(map(lambda y: y**3, lst))

### LIST/DICTIONARY COMPREHENSIONS

- short one line for loops to generate lists/dictionaries

In [ ]:
lst1 = [1,2,3,4]
lst2 = [i**2 for i in lst1]

print(lst2)

In [ ]:
#each letter of python will become key and its uppercase will become value

{i:i.upper() for i in "python"}

In [ ]:
#using if in list comprehension

[x for x in "python" if x != "p" ]

In [ ]:
#using if and else in list comprehension

[x if x != "p" else "M" for x in "python"]

In [ ]:
#using map vs list comprehension to do the same thing

list1 = [[1,2,3], [4,5,6], [7,8,9]]

sums1 = list(map(sum, list1))
sums2 = [sum(i) for i in list1]


print(sums1)
print(sums2)

In [ ]:
#two ways to combine lst1 and lst2 into a single dictionary using list comprehension. 
#dict1 is using indexing. 
#dict2 is using the zip function

lst1 = [1,2,3,4]
lst2 = ["a", "b", "c", "d"]

dict1 = {lst1[i]:lst2[i] for i in range(len(lst1))}
dict2 = {i:j for (i,j) in zip(lst1,lst2)}

print(dict1)
print(dict2)

### EXCEPTIONS

There is one try block <br>
You can several except blocks with specific exceptions to tell python what to do in case each of those errors arise <br>
You can tell python what to do in case an exception isn't raised using else <br>
You can also add a finally block which executes regardless of what happens in the try/except/else block

In [ ]:
try:
    
    var1 = 5
    var2 = 0
    
    var3 = var1/var2
    
except Exception:
    
    var2 += 1
    print("not possible to divide by zero")
    
else:
    
    print("done")
    
finally:
    
    print("this is the finally statement")

In [ ]:
print(var2) #var2 went from 0 to 1 because of the execution of the exception block

In [ ]:
my_list = [1,2,3,4,"a"]

try:
    
    my_list[4] += 5
    
except IndexError:
    
    print("index is not in range")
    
except TypeError:
    
    print("incompatible types for operation")
    
else:
    
    print("no errors")
    
finally:
    
    print("all done!")

### AN EXAMPLE OF USING A CONDITIONAL (IF) TO HANDLE AN ERROR INSIDE A FUNCTION
This function is taking one argument and returns even/odd based on the number we give it while calling on it

In [ ]:
def is_even(num):
    
    if num % 2 == 0:
        print("number is even")
        
    else:
        print("number is not even")

In [ ]:
is_even(-7)
is_even(-10)
is_even(24)
is_even(331)
is_even("B") #this function will throw an error with non numeric values

#### You can make the above function better by first checking if the argument we give it is an integer and to return "not integer" if it is not

In [ ]:
def is_even(num):
    
    if type(num) != int:
        print("Not an integer")
    
    elif num % 2 == 0:
        print("number is even")
        
    else:
        print("number is not even")

In [ ]:
is_even(-7)
is_even("b") #no error
is_even(24)
is_even(478.34)
is_even([2,3,4])