### VARIABLE DEFINITION:

In [ ]:
#variable definition rules: 
#variables must only contain alphabets, numbers and underscore (_)
#variables cannot start with a number but can start with an alphabet or an underscore

#valid variable names
my_var = 3
_myvar = 6
my_var23 = 7
my23var = 10


#invalid variable names
2my_var = 8
my_var@ = 9

In [ ]:
#variables can also be assigned in a single line separated by a comma as follows. 
#this is the same as doing:
# x = 10
# y = "python"
# z = 30


x, y, z = 10, "python", 30

print(x)
print(y)
print(z)

In [ ]:
#giving the print function multiple arguments separated by a comma will print all on the same line 

print(x, y, z) 
print(5, 10, 15)

### DIFFERENT DATA TYPES:

In [ ]:
a = 5
b = 'this is a python class'
c = 3.14
d = True

print(a)
print(b)
print(c)
print(d)

In [ ]:
e = [5, "python", True, 10, 4.56]
f = (5, "class", False)
g = {"Abdullah": 'Blue', "Huzaifa": 95}
h = {5, 7, 8, 9}

print(e)
print(f)
print(g)
print(h)

In [ ]:
# you can use the type() function to find out the type of an object or a variable storing an object

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

### DATA-TYPE CONVERSION WITH SOME EXAMPLES

In [ ]:
#the datatypes studied above also exist as functions. You can use these to convert datatypes where conversion is possible:
int()
float()
str()
bool()
list()
tuple()
dict()
set()

In [ ]:
#these operations would fail unless you do type conversion

print(60 + int("100"))
print(54 + float("3.14"))
print("xbox" + str(360))

In [ ]:
x = 5
y = "100"

print(x > int(y)) #comparison after type conversion works

print(x > y) #comparison without type conversion raises an error, because int cannot be compared to str.

In [ ]:
#converting int to str

num = 10000
num_str = str(num) #here i have created a new variable num_str and am storing the result of str(num) in it


print("type of num is", type(num))
print("type of str_num is", type(num_str))

In [ ]:
#converting str to float 

my_str = "10000.89"
str_to_float = float(my_str)


print("type of my_str is", type(my_str))
print("type of str_to_float is", type(str_to_float))

In [ ]:
#0 or empty string or empty list evaluate to false. 1 or non-empty strings or non-empty lists evaluate to true

print(bool(0)) #int to bool
print(bool(78.67)) #float to bool
print(bool("My name is Maham")) #str to bool
print(bool("")) #str to bool

### ARITHMETIC OPERATORS

In [ ]:
print(12 + 10) #addition
print(2 * 8) #multiplication
print(22 - 10) #subtraction
print(8 ** 2) #exponentiation
print(49 % 10) #modulo operator (returns remainder after dividing left value by right value)
print (104//5) #floor division (round down to nearest whole number)

In [ ]:
#same operations but this time with variable names instead of direct numbers

x = 5
y = 10


print(x + y)
print(x - y)
print(x / y)
print(x * y)
print(y ** x)
print(y % x)
print(y // x)

### COMPARISON OPERATORS

In [ ]:
print(15 < 7) #less than
print(20 > 17) #greater than
print(22 >= 23) #greater than or equal to
print(26 <= 26) #less than or equal to
print(22 == 5) #equal to
print(22 != 25) #not equal to

In [ ]:
x = 5
y = 10


print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x == y)
print(x != y)

### LOGICAL OPERATORS

In [ ]:
# logical operators in python are and, or and not

my_number = 10

print(my_number > 11 and my_number < 12) #and returns True only if BOTH conditions are true
print(my_number > 11 or my_number < 12) #or returns True even if only one of the conditions is true
print(not my_number > 11 and my_number < 12) #not negates the boolean. turns true to false and vice versa

In [ ]:
x = 5
y = 10

print(x < y and x != 5)
print(x > y or x==y)
print(x > y or x < 100)
print(x > y or not x < 100) #nearly same as above but here first statement is false and second statement also becomes false because of a not